/* UNIV STYLING */
.login-form,
.signup-form,
.signup-paragraph {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 40%;
}

main {
  /* background-color: var(--black); */
  color: var(--white);
  margin: 5%;
  padding: 5%;
}

input {
  font-family: "Nunito Sans", sans-serif;
  border: none;
}
/* SETTINGS STYLING */
.settings-title {
    font-size: large;
    font-weight: bold;
}

.timersettings-form>div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem 0.5rem;
    padding: 3rem 5rem;
    border: 1px solid var(--white);
    border-radius: 1vw;
}

.timersettings-form label {
    text-align: left;
    margin: 0.5rem 0 0.1rem 0;
    flex-grow: 0.5;
    flex-shrink: 0;
    flex-basis: 30px; 
}

.timersettings-form input[type="number"],
.timersettings-form select {
    background-color: var(--black);
    outline: var(--white) solid 1px;
    color: var(--white);
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 5px;
    padding: 1%;
    border-radius: 0.5vw;
}

.timersettings-form select {
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
}

.save-reset-settings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.savesettings-button,
.resetsettings-button {
    color: var(--white);
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    border-radius: 0.4vw;
    padding: 1.5% 20%;
    outline: none;
    cursor: pointer; 
}

.savesettings-button {
    background-color: var(--light-grey);
}

.resetsettings-button {
    background-color: var(--rust);
}