/* TO-DO LIST STYLING */
.todolist {
    background-color: var(--green);
    border: 1px solid var(--white);
    border-radius: 1rem;
    padding: 2rem;
}

/* style the list items */
.todolist-list li {
    display: flex;
    cursor: pointer;
    position: relative;
    padding: 1%;
    list-style-type: none;
    transition: 0.2s;
    /* make the list items unselectable */
    user-select: none;
    word-break: break-word;
}

.todolist-container {
    padding: 2% 3%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 0.5rem;
}

.todolist-container:after {
    content: "";
    display: table;
    clear: both;
}

.todolist-container input {
    border-radius: 0.5vw;
    width: 70%;
    padding: 1%;
    background-color: var(--black);
    outline: var(--white) solid 1px;
    color: var(--white);
    font-size: 1.1rem;
}

.todolist-add {
    padding: 1%;
    width: 10%;
    background: var(--light-grey);
    color: var(--white);
    cursor: pointer;
    border-radius: 0.4vw;
}

.todolist-reset {
    padding: 1%;
    width: 10%;
    background: var(--light-grey);
    color: var(--white);
    cursor: pointer;
    border-radius: 0.4vw;
}

/* darker background when hovering "add" button */
.todolist-add:hover {
    background-color: var(--dark-grey);
}

/* strikes out text when clicked to show task is done */
.todolist-list li.checked {
    text-decoration: line-through;
    color: var(--red); 
}

/* style the delete button */
.delete {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem;
    color: var(--white);
}

.delete:hover {
    background-color: var(--white);
    color: var(--black);
}


@media screen and (min-width: 320px) and (max-width: 768px) {
    .todolist-add,
    .todolist-reset {
        width: 100%;
        margin-top: 1rem;
    }

    .todolist-container {
        flex-direction: column;
        align-items: stretch;
    }

    .todolist-container input {
        width: 100%;
    }
}